<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
                <binding name="BasicHttpBinding_ITestService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51558/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceClient.IService1"
                name="BasicHttpBinding_IService1" />
            <endpoint address="http://localhost:51558/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITestService" contract="ServiceClient.ITestService"
                name="BasicHttpBinding_ITestService" />
        </client>
    </system.serviceModel>
</configuration>