<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICompaniasService" />
                <binding name="BasicHttpBinding_IReservaService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53579/CompaniasService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICompaniasService"
                contract="UCV.Proxy.ICompaniasService" name="BasicHttpBinding_ICompaniasService" />
            <endpoint address="http://localhost:53579/ReservaService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReservaService"
                contract="UCV.Reserva.IReservaService" name="BasicHttpBinding_IReservaService" />
        </client>
    </system.serviceModel>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>